*.class
.classpath/
.settings/
.project/

target/


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.log
*.log.1
*.MF

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nb-configuration.xml

# IntelliJ configuration
.idea/
*.iml
